h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
  font-style: oblique;
  font-optical-sizing: ;
  color: rgb(11, 4, 17);
  background-color: darkgrey ;
}
ul {
  line-height: 40px;
  color: blueviolet;
}